@page "/weather"
@attribute [StreamRendering]
@using Microsoft.AspNetCore.SignalR.Client
@rendermode InteractiveServer
@using BlazorF.ApiFilm.Models
@inject HttpClient Http
@inject IJSRuntime JS
@inject NavigationManager NavigationManager



<PageTitle>Weather</PageTitle>

<h3>Chat</h3>


<div>
	@foreach (var msg in messages)
	{
		<p>@msg</p>
	}
</div>
<div>
    <input type="text" @bind= "OtherUser" placeholder="Кому отправляю имя" />
    <input type="text" @bind = "message" placeholder="Сообщение" />
    <button @onclick="SendMessage">Send</button>
</div>


@code {
    private User user;
    string message = "";
    public string iUser = Counter.idU.Name;
    string OtherUser = "";
    HubConnection hubConnection;
    List<string> messages = new List<string>();
    


    protected override async Task OnInitializedAsync()
    {
        user = Counter.idU;
        hubConnection = new HubConnectionBuilder().WithUrl("https://localhost:7023/chatHub").Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            messages.Add($"{user}: {message}");
            InvokeAsync(StateHasChanged);

        });
        await hubConnection.StartAsync();
    }

    async Task SendMessage()
    {
        await hubConnection.SendAsync("SendMessage",OtherUser, iUser, message);
        messages.Add($"{iUser}: {message}");
        message = string.Empty;


    }

    async Task RegUser()
    {
        await hubConnection.SendAsync("RegisterUser", iUser);
        // message = string.Empty;
    }


}
